In [10]:
import pandas as pd

In [16]:
space_df = pd.read_csv(r'../Data/Global_Space_Launches.csv')

In [17]:
space_df.head()

,Company Name,Location,Detail,Status Rocket,Rocket,Status Mission,Country of Launch,Companys Country of Origin,Private or State Run,DateTime,Year,Month,Day,Date,Time
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,USA,USA,P,2020-08-07 05:12:00+00:00,2020,8,7,07/08/2020,05:12
1,CASIC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,China,S,2020-08-06 04:01:00+00:00,2020,8,6,06/08/2020,04:01
2,SpaceX,"Pad A, Boca Chica, Texas, USA",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,USA,USA,P,2020-08-04 23:57:00+00:00,2020,8,4,04/08/2020,23:57
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,Russia,S,2020-07-30 21:25:00+00:00,2020,7,30,30/07/2020,21:25
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",Atlas V 541 | Perseverance,StatusActive,145.0,Success,USA,USA,P,2020-07-30 11:50:00+00:00,2020,7,30,30/07/2020,11:50

In [22]:
space_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company Name                4324 non-null   object
 1   Location                    4324 non-null   object
 2   Detail                      4324 non-null   object
 3   Status Rocket               4324 non-null   object
 4    Rocket                     964 non-null    object
 5   Status Mission              4324 non-null   object
 6   Country of Launch           4324 non-null   object
 7   Companys Country of Origin  4324 non-null   object
 8   Private or State Run        4324 non-null   object
 9   DateTime                    4324 non-null   object
 10  Year                        4324 non-null   int64
 11  Month                       4324 non-null   int64
 12  Day                         4324 non-null   int64
 13  Date                        4324 non-null   object
 14  Time                        4324 non-null   object
dtypes: int64(3), object(12)
memory usage: 506.8+ KB

In [20]:
space_df.describe

<bound method NDFrame.describe of      Company Name                                           Location  \
0          SpaceX         LC-39A, Kennedy Space Center, Florida, USA
1           CASIC  Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2          SpaceX                      Pad A, Boca Chica, Texas, USA
3       Roscosmos       Site 200/39, Baikonur Cosmodrome, Kazakhstan
4             ULA           SLC-41, Cape Canaveral AFS, Florida, USA
...           ...                                                ...
4319      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4320         AMBA           LC-26A, Cape Canaveral AFS, Florida, USA
4321      US Navy           LC-18A, Cape Canaveral AFS, Florida, USA
4322    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan
4323    RVSN USSR          Site 1/5, Baikonur Cosmodrome, Kazakhstan

                                            Detail  Status Rocket  Rocket  \
0     Falcon 9 Block 5 | Starlink V1 L9 & BlackSky   StatusActive   50.0
1              Long March 2D | Gaofen-9 04 & Q-SAT   StatusActive  29.75
2               Starship Prototype | 150 Meter Hop   StatusActive     NaN
3     Proton-M/Briz-M | Ekspress-80 & Ekspress-103   StatusActive   65.0
4                       Atlas V 541 | Perseverance   StatusActive  145.0
...                                            ...            ...     ...
4319                     Vanguard | Vanguard TV3BU  StatusRetired     NaN
4320                           Juno I | Explorer 1  StatusRetired     NaN
4321                       Vanguard | Vanguard TV3  StatusRetired     NaN
4322                    Sputnik 8K71PS | Sputnik-2  StatusRetired     NaN
4323                    Sputnik 8K71PS | Sputnik-1  StatusRetired     NaN

     Status Mission Country of Launch Companys Country of Origin  \
0           Success               USA                        USA
1           Success             China                      China
2           Success               USA                        USA
3           Success        Kazakhstan                     Russia
4           Success               USA                        USA
...             ...               ...                        ...
4319        Failure               USA                        USA
4320        Success               USA                        USA
4321        Failure               USA                        USA
4322        Success        Kazakhstan                     Russia
4323        Success        Kazakhstan                     Russia

     Private or State Run                   DateTime  Year  Month  Day  \
0                       P  2020-08-07 05:12:00+00:00  2020      8    7
1                       S  2020-08-06 04:01:00+00:00  2020      8    6
2                       P  2020-08-04 23:57:00+00:00  2020      8    4
3                       S  2020-07-30 21:25:00+00:00  2020      7   30
4                       P  2020-07-30 11:50:00+00:00  2020      7   30
...                   ...                        ...   ...    ...  ...
4319                    S  1958-02-05 07:33:00+00:00  1958      2    5
4320                    S  1958-02-01 03:48:00+00:00  1958      2    1
4321                    S  1957-12-06 16:44:00+00:00  1957     12    6
4322                    S  1957-11-03 02:30:00+00:00  1957     11    3
4323                    S  1957-10-04 19:28:00+00:00  1957     10    4

            Date   Time
0     07/08/2020  05:12
1     06/08/2020  04:01
2     04/08/2020  23:57
3     30/07/2020  21:25
4     30/07/2020  11:50
...          ...    ...
4319  05/02/1958  07:33
4320  01/02/1958  03:48
4321  06/12/1957  16:44
4322  03/11/1957  02:30
4323  04/10/1957  19:28

[4324 rows x 15 columns]>