In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import seaborn as sns
from matplotlib import rcParams

%matplotlib inline 
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [10]:
global_space_launches = pd.read_csv(r'../Data/Global_Space_Launches.csv')

In [11]:
global_space_launches.head()

,Company Name,Location,Detail,Status Rocket,Rocket,Status Mission,Country of Launch,Companys Country of Origin,Private or State Run,DateTime,Year,Month,Day,Date,Time
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,USA,USA,P,2020-08-07 05:12:00+00:00,2020,8,7,07/08/2020,05:12
1,CASIC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,China,S,2020-08-06 04:01:00+00:00,2020,8,6,06/08/2020,04:01
2,SpaceX,"Pad A, Boca Chica, Texas, USA",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,USA,USA,P,2020-08-04 23:57:00+00:00,2020,8,4,04/08/2020,23:57
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,Russia,S,2020-07-30 21:25:00+00:00,2020,7,30,30/07/2020,21:25
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",Atlas V 541 | Perseverance,StatusActive,145.0,Success,USA,USA,P,2020-07-30 11:50:00+00:00,2020,7,30,30/07/2020,11:50

In [14]:
launch_sfr = pd.read_csv(r'../Data/Launch SFR.csv')
launch_sfr.head()

,Company,SFR,Payload (kg),Launch Cost ($M),Price ($/kg),Funding ($M),Launch Class,Orbit Altitude,Tech Type,Country,HQ Location,Description
0,Arianespace/Avio,9,"20,000",170.0,"8,500",Public,"Medium, Heavy",LEO,Rocket,Italy,Colleferro,Developing the Vega & Ariane launch vehicles
1,Black Sky Aerospace,9,350,0.6,"1,714",-,Small,Suborbital,Rocket,Australia,"Browns Plains, Queensland","Offers a range of sounding rockets, capable of..."
2,Blue Origin,9,"45,000",0.0,0,-,"Tourism, Small, Heavy",LEO,Rocket,USA,"Kent, WA",Lowering the cost of access to space with reus...
3,CNIM Air Space,9,"2,700",0.0,0,Public,"Small, Medium",Suborbital,Balloon,France,Ayguesvives,Balloons that lift anything from a few kilogra...
4,Mitsubishi Heavy Industries,9,"19,000",112.5,"5,921",Public,Medium,LEO,Rocket,Japan,"Tokyo, Tokyo",Launch vehicle manufacturer and launch service...

In [15]:
space_missions = pd.read_csv(r'../Data/Space_Missions.csv')
space_missions.head()

,Company,Launch Date,Launch Time,Launch Site,Temperature (° F),Wind speed (MPH),Humidity (%),Vehicle Type,Liftoff Thrust (kN),Payload to Orbit (kg),Rocket Height (m),Fairing Diameter (m),Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Mission Status,Failure Reason
0,SpaceX,24 March 2006,22:30,Marshall Islands,86.0,9.0,74.0,Falcon 1,343,470,22.25,1.5,FalconSAT-2,Research Satellite,19.5,Low Earth Orbit,Failure,Engine Fire During Launch
1,SpaceX,21 March 2007,1:10,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,DemoSat,Mass simulator,NaN,Low Earth Orbit,Failure,Engine Shutdown During Launch
2,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Trailblazer,Communication Satellite,NaN,Low Earth Orbit,Failure,Collision During Launch
3,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,"PRESat, NanoSail-D",Research Satellites,8,Low Earth Orbit,Failure,Collision During Launch
4,SpaceX,3 August 2008,3:34,Marshall Islands,NaN,NaN,NaN,Falcon 1,343,470,22.25,1.5,Explorers,Human Remains,NaN,Low Earth Orbit,Failure,Collision During Launch

In [16]:
global_space_launches.isnull().any()

Company Name                  False
Location                      False
Detail                        False
Status Rocket                 False
 Rocket                        True
Status Mission                False
Country of Launch             False
Companys Country of Origin    False
Private or State Run          False
DateTime                      False
Year                          False
Month                         False
Day                           False
Date                          False
Time                          False
dtype: bool

In [17]:
global_space_launches.dtypes

Company Name                  object
Location                      object
Detail                        object
Status Rocket                 object
 Rocket                       object
Status Mission                object
Country of Launch             object
Companys Country of Origin    object
Private or State Run          object
DateTime                      object
Year                           int64
Month                          int64
Day                            int64
Date                          object
Time                          object
dtype: object

In [18]:
global_space_launches.describe()

              Year        Month          Day
count  4324.000000  4324.000000  4324.000000
mean   1987.386679     6.754163    16.438945
std      18.072562     3.417027     8.636688
min    1957.000000     1.000000     1.000000
25%    1972.000000     4.000000     9.000000
50%    1984.000000     7.000000    17.000000
75%    2002.000000    10.000000    24.000000
max    2020.000000    12.000000    31.000000